*{
    padding: 0px;
    margin: 0px;
    font-family: fantasy;
}
 ul li a:hover{
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(153, 151, 153);
}
a{
    text-decoration: none;
    color: black;
}
.style{
    text-decoration: none;
    color:black;
}
.background{
    background-color: rgb(245, 206, 77);
    /* border-radius: 20px; */
}
.text-center{
    padding: 40px 40px;
}
a:hover{
    color: crimson;
}
.checked {
    color: orange;
  }
.star{
      text-align: center;
  }
  .box:hover
    {
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.664);
    }
    .box{
        /* background-color: rgb(231, 227, 227); */
        background-color: rgb(238, 234, 208);
        height: 520px;
    }
    h5{
        font-family: fantasy;
        font-size: 25px;
    }
    